<div class="col-10 offset-1 about">
        <h1>About Splurty</h1>

        <p>
          Splurty was built by <a target="_blank" href="https://github.com/dollymeats">Karly</a>. A student who is on a mission to learn how to design and build web applications.
        </p>
        <br />
        <p>
          Karly is challenging herself, by learning a skill outside of her comfort zone of design. She is learning to integrate aesthetics with the language of computers. 
        </p>
        <p>
          If you want to learn how to code like Karly - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>
        </p>


        <div class="row">
          <div class="col-12 col-sm-4">
            <%= image_tag 'me.jpg', class: 'img-fluid' %>
          </div>

          <div class="col-12 col-sm-7 offset-sm-1">
            <h2 class="text-center">Karly Kizewski</h2>
            <br />
            <p>
              Karly Kizewski is a student of The George Washington Univertiy Coding Boot Camp.
            </p>
          </div>

      </div>

<br class="clear" />
<br />
<br />
<br />
<br />